doctype html
html
  head
    title Lucifer farm selling product
    block scripts
    block style  
  body
    nav#navbar 
        ul 

           li #[a(href="/") Home] 
           li #[a(href="/services") Services] 
           li #[a(href="/shopping") Shopping] 
           li #[a(href="/contact") Contact us]
           li #[a(href="/About us") About us]
           li #[a(href="/Mycart") Mycart] 
    block content
    
  
footer#footer 
        |   copyright 2022 lucifersellingproduct.com