extends base.pug

block scripts
  script(src='/static/index.js')

block style
  style
      include ../static/style.css
block content 
 nav#navbar 
          ul 
           
 

 section#introSection
        welcome          आप सभी का स्वागत है 
 section#misionSection 
          h3 Our Mission 
          div.card
              h4 Be the best producer 
              div.card-box 
                  div.card-img   
                      img(src="/static/pic1.png")

          div.card
              h4 Be the best deliver 
              div.card-box 
                  div.card-img   
                      img(src="/static/pic2.jpg")       
 section#sponsorsSection
        h2 Our Sponsors
        div#sponsors 
            img(src="/static/logo1.png",alt="Sponsor Image",class="spImage")
            img(src="/static/logo2.png",alt="Sponsor Image",class="spImage") 
            img(src="/static/logo3.png",alt="Sponsor Image",class="spImage") 
            img(src="/static/logo4.png",alt="Sponsor Image",class="spImage") 
            img(src="/static/logo5.png",alt="Sponsor Image",class="spImage") 



