extends base.pug

block scripts
  script(src='/static/index.js')

block style
 style
      include ../static/style.css
      include ../static/styleservices.css

block content
      h6 OUR  DELIVERY  SERVICES 
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod repellendus, laudantium velit vitae numquam consectetur nam commodi perspiciatis architecto a, eius esse in ratione! Expedita quos earum aut et, soluta blanditiis mollitia necessitatibus unde voluptatibus aliquam maiores incidunt numquam ex nesciunt inventore excepturi voluptatum eaque consequatur? Exercitationem qui nesciunt officia dignissimos? Quia earum voluptas vel! Aliquid aliquam magni nihil, sapiente facilis enim sit maxime temporibus animi repudiandae, nisi beatae nam pariatur praesentium fuga saepe ex, veritatis consectetur natus? Expedita temporibus sequi atque? Iusto temporibus eos sunt voluptatem fugit expedita ad? Obcaecati laborum cupiditate quo quaerat ex sunt, pariatur, at odit eum optio neque. Placeat saepe praesentium aliquam necessitatibus voluptate voluptatem magni porro excepturi. Necessitatibus laudantium excepturi asperiores unde illo officia autem. Enim est qui tempora, iste, fugit reprehenderit consectetur voluptate quos, quasi eligendi temporibus obcaecati. Necessitatibus consectetur dolore saepe numquam corrupti molestiae officia at expedita ut optio, culpa, nostrum, porro vero molestias aliquid earum deserunt sed. Eveniet consectetur, fugit nobis molestiae eum aut explicabo sunt facere quaerat, quas necessitatibus optio magni! Ipsum magnam illum rem officia veniam eaque sit tempora unde odio rerum! Voluptates repellendus recusandae nostrum quas, repudiandae illum neque sunt earum itaque quis dolor modi saepe possimus beatae ad nulla eaque, veniam soluta? Neque iste repellendus corporis sed doloribus expedita quibusdam quae soluta alias non numquam quidem ratione rem at sint suscipit, quo distinctio maxime libero repellat voluptatibus totam fuga maiores cum. Omnis quae quas modi amet dolores eveniet in reiciendis, dolorem voluptates perspiciatis voluptatibus ex, hic, officiis animi assumenda eum eaque obcaecati voluptate non eos iure beatae quaerat corporis eligendi? Sit dolor soluta veritatis! In maxime beatae incidunt illum magnam illo, sint eveniet ipsam officia. Dolorum eaque sequi rem aperiam, cumque nulla et dignissimos eligendi consectetur modi commodi cupiditate recusandae, laudantium distinctio quis fugiat sapiente exercitationem officiis? ipsum dolor sit amet consectetur adipisicing elit. Fugit rem temporibus eius repellendus? Beatae, eos? Sit placeat, delectus autem quas similique reprehenderit modi animi harum impedit expedita, excepturi laboriosam nihil officiis sint eligendi molestiae, eum numquam ipsum ipsa non iure maiores fuga cupiditate. Officiis iure, cumque dolore fugiat itaque ex porro id quasi rerum nulla iste architecto temporibus consequatur exercitationem possimus quos at deserunt quo dicta nostrum rem neque facere consequuntur voluptate. Eveniet quia in molestias, veniam iusto minus dicta modi quasi, alias ipsum fugiat voluptate perferendis optio voluptatibus labore autem quidem perspiciatis. Eos ipsam modi ex molestias neque nostrum.

               
        
      
      
